<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.whut.cityj.mapper.SpeQuestionMapper">

    <!--返回对应版本的所有专项-->
    <select id="selType" resultType="com.whut.cityj.bean.SpecilType">
        select id, type, book_version from specil_type where book_version = #{book_version}
    </select>

    <!--根据专项id返回该专项所有题目-->
    <select id="selSpeQuestions" resultType="com.whut.cityj.bean.SpeQuestion">
        select id, sid, que_number, question, answer, analy, sign from spe_question
        where sid = #{param1}
    </select>


</mapper>
